header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1976D2;
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    color: white;
}

table {
    min-width: 400px;
    width: 80%;
    margin: 50px auto;
    padding: 2rem;
    border-collapse: collapse;
    border: 1px solid #ccc;        
}
table td, table th {
    width: 20%;
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;        
}
table td:focus {
    background: #0c5;
    outline: none;
}