header {
  position: relative; }

.textRLR, .my-tracks .my-tracks_account, .service .service__text-header, .service .service__cost {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.textRR, .nav_hidden .navigation_items, .service .service__text-header .service__text.service__text-service, .navigation ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.textRB, .service .service__text-header .service__text.service__text-address, .service .service__cost .service__sum span, .service .service__for-date, .service .service__date span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.bg-img {
  background-image: url(../img/main-bg-img.png);
  width: 100%;
  min-height: 33em; }

.for-buttons {
  margin-top: 15px; }

.wrapper-logo_cabinet {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left center; }

.my-tracks_menu {
  cursor: pointer;
  margin-top: -15px; }
  .my-tracks_menu:hover {
    color: #9a2b22; }
  .my-tracks_menu:active {
    color: #770900; }
  .my-tracks_menu i {
    font-size: 30px;
    position: relative;
    top: 5px;
    right: 0px;
    color: #9a2b22;
    /*transform: rotateX(0);
    transition: transform 1s ease;*/
    /* &.ng-hide-add, &.ng-hide-remove {
         transform: rotateX(0deg);
     }
     &.ng-hide {
         transform: rotateX(90deg);
     }*/
    /*transition: right 1s;
    -webkit-transition: right 1s;*/ }
    .my-tracks_menu i:hover {
      color: #770900;
      /*right: 5px;*/ }
    .my-tracks_menu i:active {
      color: #770900; }

.nav_hidden {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 1;
  background: #fff;
  box-shadow: 5px 5px 5px #ccc; }
  .nav_hidden.ng-hide-add, .nav_hidden.ng-hide-remove {
    top: -180px;
    /*max-height: auto;*/
    transform: translateY(100%);
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease; }
  .nav_hidden.ng-hide {
    top: -180px;
    transform: translateY(0);
    overflow: hidden; }
  .nav_hidden .navigation_items {
    height: 50px;
    border-bottom: 1px solid  #e6cbc9;
    padding-top: 13px;
    padding-left: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ccc;
    font-size: 16px;
    transition: font .5s ease;
    -webkit-transition: font .5s ease; }
    .nav_hidden .navigation_items:hover {
      font-size: 18px;
      box-shadow: 5px 5px 7px #ccc; }
    .nav_hidden .navigation_items.navigation_items_active a {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: #333333; }
      .nav_hidden .navigation_items.navigation_items_active a:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: #333333;
        color: #333; }
    .nav_hidden .navigation_items a {
      color: #333; }
      .nav_hidden .navigation_items a:hover {
        text-decoration: none;
        color: #770900; }
    .nav_hidden .navigation_items:last-child {
      border: none; }

.my-tracks .my-tracks_account {
  font-size: 14px;
  color: #333;
  margin-top: 27px; }
  .my-tracks .my-tracks_account span {
    font-size: 18px;
    color: #770900; }
  .my-tracks .my-tracks_account .my-tracks_currency {
    color: #770900;
    font-size: 14px; }

.service .service__text-header {
  font-size: 16px; }
  .service .service__text-header .service__text {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    color: #9a2b22;
    margin-bottom: 10px; }
    .service .service__text-header .service__text.service__text-service {
      font-size: 18px; }
.service .service__cost {
  text-align: center;
  font-size: 16px;
  border-left: 1px solid #e6cbc9;
  height: 150px; }
  .service .service__cost .service__sum {
    margin-top: 15px; }
    .service .service__cost .service__sum span {
      font-size: 36px;
      color: #770900; }
.service .service__spec .service__spec-name {
  color: #770900; }
.service .service__for-date {
  padding-top: 20px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  color: #fff;
  background: #920021;
  font-size: 18px; }
  .service .service__for-date strong {
    font-size: 48px;
    display: block;
    line-height: 0.8; }
  .service .service__for-date .service-month {
    color: #fff; }
.service .service__date span {
  color: #770900; }

.service_cancel-btn {
  margin-top: 30px;
  padding-left: 50px;
  background-image: url(../img/cancel-icon.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  height: 40px; }
  .service_cancel-btn:active {
    background-image: url(../img/cancel-icon.png); }

.service__for-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid  #920021;
  margin: 0 auto;
  padding: 5.6px; }
  .service__for-img img {
    border: 1px solid  #777; }

.repeater {
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: left; }

.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; }
  .navigation ul li:not(.my-tracks_active):hover {
    border: 1px solid #770900;
    padding: 7px 15px; }
    .navigation ul li:not(.my-tracks_active):hover a {
      text-decoration: none;
      color: #770900; }
  .navigation ul li a {
    color: #333; }
  .navigation ul li.my-tracks_active a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #333333; }

@media (max-width: 768px) {
  .navigation ul {
    justify-content: flex-end;
    height: 70px; }

  .nav_hidden {
    top: 70px; }

  .wrapper-logo_cabinet {
    height: 70px; }

  .service .service__text-header {
    margin-bottom: 30px; }
    .service .service__text-header .service__text {
      margin-bottom: 30px; }
  .service .service__sum {
    border-left: none; }

  .my-tracks_account {
    text-align: left; }

  .repeater {
    /*text-align: center;*/ }
    .repeater button {
      margin-top: 30px; } }
@media (max-width: 992px) {
  .navigation ul {
    justify-content: flex-end; }

  .service__for-img {
    height: 80px;
    width: 80px;
    padding: 3.6px; }
    .service__for-img img {
      height: 70px;
      width: 70px;
      border: 1px solid  #777; }

  .service__date {
    text-align: center; }
    .service__date span {
      font-size: 14px; } }
.pagination-wrap ul li {
  cursor: pointer; }
  .pagination-wrap ul li a {
    color: #000; }
  .pagination-wrap ul li.active a {
    background-color: #c9302c;
    border-color: #ac2925; }
    .pagination-wrap ul li.active a:hover {
      border-color: #ac2925;
      background-color: #ac2925; }

/*# sourceMappingURL=cabinet.css.map */
