/*.choose-service .row ~ .row {
    margin-top: 20px;
}*/
.textRLR, .choose__title, .choose__align-left, .choose__align-right, .choose__repeat-branch_label, .choose__repeat-branch_label .treaty-consent, .choose__repeat-branch_label p, .choose-service__output, .calendar2-left, .calendar2-right, #calendar2 tbody td, .choose-date__time .choose-date__text, .choose-date__time .choose-date__row .time-block, .choose-date .choose-date_days, .choose-specialist .choose-specialis_master-name, .your-request__form .form-control, .your-request__form .your-request__button-ok {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.textRR, .choose-service__item, .choose-service__item2, .choose-service__currency, .choose-service__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.textRB, .choose__repeat-branch_label strong, .calendar_header, .choose-specialist .choose-specialis_master-name span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.choose__title {
  font-size: 48px; }

.choose__repeat-branch_label {
  font-size: 14px; }
  .choose__repeat-branch_label strong {
    font-size: 16px; }
  .choose__repeat-branch_label .treaty-consent {
    font-size: 14px; }

.choose-service_row {
  margin-top: 20px; }

.choose-service__item, .choose-service__item2 {
  vertical-align: middle;
  padding: 10px 40px 10px;
  position: relative;
  border: 1px solid #dcdcdc;
  border-bottom: none; }
  .choose-service__item:hover, .choose-service__item2:hover {
    cursor: pointer; }
  .choose-service__item i, .choose-service__item2 i {
    font-size: 20px;
    color: #a3a3a3; }

.choose-service__item:last-child, .choose-service__item2:last-child {
  border-bottom: 1px solid  #dcdcdc; }

.angle-down {
  position: absolute;
  left: 14px;
  top: calc(50% - 9px); }

.choose-service__active {
  background: #fff1ef; }

.choose-service__info-block {
  margin-top: 20px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  padding: 10px 10px 10px 0;
  background: #fff1ef; }
  .choose-service__info-block label {
    display: block;
    font-weight: normal;
    cursor: pointer; }

.pseudo-check {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid  #dcdcdc;
  background: #fff;
  border-radius: 3px; }

.choose-service__choose-active {
  background: #9a2b22;
  border: 1px solid #770900; }

.choose-service__text-active {
  color: #9a2b22;
  text-decoration-color: #9a2b22 !important; }

.choose-service__currency {
  color: #9a2b22;
  font-size: 18px; }
  .choose-service__currency + span {
    color: #9a2b22; }

.choose-service__text {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #afafaf;
  line-height: 1.4; }

.choose-service__i2-active, .choose-service__i2-active:last-child {
  color: #9a2b22;
  border: 1px solid #9a2b22; }

.choose-service__output {
  text-align: center;
  margin: 20px 0;
  font-size: 16px; }
  .choose-service__output span {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #9a2b22;
    color: #9a2b22; }

/*----- Calendar ------*/
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.cal_wrap {
  position: relative; }
  .cal_wrap .fa-angle-left {
    left: 3px; }
  .cal_wrap .fa-angle-right {
    right: 5px; }
  .cal_wrap .fa {
    color: #9a2b22;
    position: absolute;
    width: 10px;
    height: 20px;
    top: 19px;
    font-size: 35px;
    z-index: -2; }

.calendar2-left {
  padding-left: 15px;
  font-size: 18px;
  vertical-align: middle;
  position: relative; }

.calendar2-right {
  padding-right: 15px;
  font-size: 18px;
  vertical-align: middle;
  position: relative; }

#calendar2 thead tr:first-child {
  border: 1px solid  #dcdcdc; }

#calendar2 thead tr:last-child {
  font-size: small;
  color: #555555;
  border: 1px solid  #dcdcdc; }

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #323232; }

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer; }

#calendar2 tbody td {
  color: #dcdcdc;
  border: 1px solid  #dcdcdc;
  padding: 3px;
  font-size: 35px;
  cursor: pointer;
  height: 47px;
  vertical-align: middle; }
  #calendar2 tbody td.available {
    color: #333333; }

#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: #770900; }

#calendar2 tbody td.today {
  background: #f7f7f7; }
  #calendar2 tbody td.today.available {
    color: #333333; }

.calendar_header {
  background: #770900;
  font-size: 30px;
  color: #fff !important;
  height: 50px;
  padding: 11px;
  border: 1px solid #520600;
  line-height: 1.1; }
  .calendar_header p {
    font-size: 18px; }

.calendar_days td {
  background: #770900;
  color: #fff !important;
  font-size: 20px;
  border: 1px solid #520600;
  padding: 7px; }
.calendar_days tbody tr:last-child td {
  border: none; }

.choose-date__date-active {
  background: #770900 !important;
  color: #fff !important; }

.choose-date__time .choose-date__text {
  padding: 0;
  font-size: 18px; }
.choose-date__time .choose-date__row-text {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px; }
.choose-date__time .choose-date__row .time-block-wrapper {
  padding: 0 2px; }
.choose-date__time .choose-date__row .time-block {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer; }
.choose-date__time .choose-date__row .choose-date__active {
  color: #fff;
  background: #9a2b22;
  border: 1px solid #9a2b22; }

.choose-date .choose-date_wrapper:nth-child(2) .choose-date_days span:before {
  background: #d5d5d5; }
.choose-date .choose-date_wrapper:last-child .choose-date_days span:before {
  background: #770900; }
.choose-date .choose-date_days {
  font-size: 13px; }
  .choose-date .choose-date_days span {
    position: relative; }
    .choose-date .choose-date_days span:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 2px;
      left: -15px;
      background: #333333; }

.choose-specialist .choose-specialist_row {
  margin-top: 20px; }
.choose-specialist .choose-spesialist_wrap {
  border: 1px solid #ccc;
  min-height: 145px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer; }
  .choose-specialist .choose-spesialist_wrap label {
    cursor: pointer; }
  .choose-specialist .choose-spesialist_wrap .img-circle {
    border: 1px solid #777; }
  .choose-specialist .choose-spesialist_wrap:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e8e8e8;
    border: 1px solid #dcdcdc;
    bottom: 10px;
    right: 10px;
    border-radius: 3px; }
  .choose-specialist .choose-spesialist_wrap.choose-spesialis_active:before {
    content: "";
    background: #9a2b22;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 13px;
    right: 13px;
    border-radius: 3px;
    z-index: 1; }
  .choose-specialist .choose-spesialist_wrap.choose-spesialis_active:after {
    border: 1px solid #9a2b22; }
.choose-specialist .choose-specialis_master {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 1px solid #9a2b22;
  padding: 3px 3.5px 3.5px 3.5px;
  margin: 14px auto 0; }
.choose-specialist .choose-specialis_master-name {
  padding-top: 30px;
  font-size: 16px; }
  .choose-specialist .choose-specialis_master-name span {
    font-size: 24px;
    color: #9a2b22; }

.your-request__form .form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 58px;
  font-size: 16px; }
  .your-request__form .form-control::-ms-expand {
    display: none; }
.your-request__form .form-group {
  position: relative; }
  .your-request__form .form-group .fa {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 35px;
    color: #9a2b22; }
.your-request__form .your-request__button-ok {
  font-size: 24px; }

@media (min-width: 768px) {
  #myModal .modal-dialog, #sendModal .modal-dialog {
    width: 400px;
    margin: 30px auto; } }
#myModal input, #sendModal input {
  /*&.ng-invalid {
      background: #ff837c;
  }*/ }
  #myModal input.ng-invalid, #sendModal input.ng-invalid {
    background: #ff837c; }

#sendModal {
  padding-right: 0 !important; }
  #sendModal .modal-footer {
    text-align: center; }

.modal-body {
  background: #d9534f; }

#sendModal .modal-title {
  color: #fff; }

@media (max-width: 1200px) {
  .your-request__form {
    margin: 0 auto; } }
@media (max-width: 992px) {
  .your-request__form {
    float: right; }

  /*.choose__align-right {
      margin-top: 10px;
  }*/ }
@media (max-width: 768px) {
  .your-request__form {
    float: none; } }

/*# sourceMappingURL=style.css.map */
