
$colorPurple: #9a2b22;
/*.choose-service .row ~ .row {
    margin-top: 20px;
}*/
html, body, .main-wrapper {
    height: 100%;
}
/*.main-wrapper {
    height: calc(100% - 50px);
}*/
section {
    min-height: calc(100% - 50px);
}
.cont-wrap {
    min-height: 100%;
}
.textRLR {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
}
.textRR {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
}
.textRB {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
}
/*.branches.ng-hide-add, .branches.ng-hide-remove {
    transform: translateY(0);
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
}
.branches {
    &.ng-hide {
        transform: translateY(-100%);
    }
}*/
.choose__title {
    @extend .textRLR;
    font-size: 48px;
}
.choose__align-left {
    @extend .textRLR;
}
.choose__align-right {
    @extend .textRLR;
}
.choose__repeat-branch_label {
    font-size: 14px;
    @extend .textRLR;
    strong {
        @extend .textRB;
        font-size: 16px;
    }
    .treaty-consent {
        font-size: 14px;    
        @extend .textRLR;
    }
}
.choose__repeat-branch_label {
    p {
        @extend .textRLR;
    }
}
/*.choose-service.ng-hide-add, .choose-service.ng-hide-remove {
    transform: translateY(100%);
    transition: transform 4s ease;
    -webkit-transition: transform 4s ease;
}
.choose-service.ng-hide {
    transform: translateY(-100%);
}*/
.choose-service .container {
    min-height: calc(100% - 50px);
}
.choose-service_row {
    margin-top: 20px;
    /*min-height: calc(100% - 70px);*/
}
.choose-service__item, .choose-service__item2 {
    vertical-align: middle;
    padding: 10px 40px 10px;
    position: relative;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    @extend .textRR;
    &:hover {
        cursor: pointer;
    }
    i {
        font-size: 20px;
        color: #a3a3a3;
    }
}
.choose-service__item:last-child, .choose-service__item2:last-child {
    border-bottom: 1px solid  #dcdcdc;
}
.angle-down {
    position: absolute;
    left: 14px;
    top: calc(50% - 9px);
}
.choose-service__active {
    background: #fff1ef;
}

.choose-service__info-block {
    margin-top: 20px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    padding: 10px 10px 10px 0;
    background: #fff1ef;
    label {
        display: block;
        font-weight: normal;
        cursor: pointer;
    }
}
.pseudo-check {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid  #dcdcdc;
    background: #fff;
    border-radius: 3px;
}
.choose-service__choose-active {
    background: #9a2b22;
    border: 1px solid #770900;
}
.choose-service__text-active {
    color: $colorPurple;
    text-decoration-color: $colorPurple !important;
}
.choose-service__currency {
    color: $colorPurple;
    @extend .textRR;
    font-size: 18px;
    & + span {
        color: $colorPurple;
    }    
}
.choose-service__text {
    @extend .textRR;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #afafaf;
    line-height: 1.4;
}
.choose-service__i2-active, .choose-service__i2-active:last-child {
    color: $colorPurple;
    border: 1px solid $colorPurple;
}
.choose-service__output {
    text-align: center;
    margin: 20px 0;
    @extend .textRLR;
    font-size: 16px;
    span {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: $colorPurple;
        color: $colorPurple;
    }
}

/*----- Calendar ------*/

#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cal_wrap {
    position: relative;
    .fa-angle-left {
        left: 3px;
    }
    .fa-angle-right {
        right: 5px;
    }
    .fa {
        color: $colorPurple;
        position: absolute;
        width: 10px;
        height: 20px;
        top: 19px;
        font-size: 35px;
        z-index: 0;
    }
}
.calendar2-left {
    padding-left: 15px;
    font-size: 18px;
    @extend .textRLR;
    vertical-align: middle;
    position: relative;
}
.calendar2-right {
    padding-right: 15px;
    font-size: 18px;
    @extend .textRLR;
    vertical-align: middle;
    position: relative;
}
#calendar2 thead tr:first-child {
  border: 1px solid  #dcdcdc;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
  border: 1px solid  #dcdcdc;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: #dcdcdc;
  border: 1px solid  #dcdcdc;
  padding: 3px;
  font-size: 35px;
  @extend .textRLR;
  cursor: pointer;
  height: 47px;
  vertical-align: middle;
    &.available {
        color: #333333;
    }
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: #770900;
}
#calendar2 tbody td.today {
  background: #f7f7f7;
    &.available {
        color: #333333;
    }
}
.calendar_header {
    background: #770900;
    font-size: 30px;
    color: #fff !important;
    @extend .textRB;
    height: 50px;
    padding: 11px;
    border: 1px solid #520600;
    line-height: 1.1;
    p {
        font-size: 18px;
    }
}
.calendar_days {
    td {
        background: #770900;
        color: #fff !important;
        font-size: 20px;
        border: 1px solid #520600;
        padding: 7px;
    }
    tbody tr:last-child td {
        border: none;
    }
}
.choose-date__date-active {
    background: #770900 !important;
    color: #fff !important;
}
.choose-date__time {
    .choose-date__text {
        padding: 0 0 0 20px;
        font-size: 18px;
        @extend .textRLR;
    }
    .choose-date__row-text {
        font-size: 18px;
        text-align: left;
        margin-bottom: 20px;
    }
    .choose-date__row {
        .time-block-wrapper {
            padding: 0 2px;
        }
        .time-block {
            border: 1px solid #ccc;
            margin-bottom: 5px;
            font-size: 16px;
            padding: 5px;
            cursor: pointer;
            @extend .textRLR;
        }
        .choose-date__active {
            color: #fff;
            background: $colorPurple;
            border: 1px solid $colorPurple;
        }
    }
}
.choose-date {
    .choose-date_wrapper {
        &:nth-child(2) {
            .choose-date_days {
                span {
                    &:before{
                        background: #d5d5d5;
                    }            
                }
            }
        }
        &:last-child {
            .choose-date_days {
                span {
                    &:before{
                        background: #770900;
                    }            
                }
            }
        }
    }
    .choose-date_days {
        @extend .textRLR;
        font-size: 13px;
        span {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                top: 2px;
                left: -15px;
                background: #333333;
            }
        }
    }
}


.choose-specialist {
    .choose-specialist_row {
        margin-top: 20px;
    }
    .choose-spesialist_wrap {
        border: 1px solid #ccc;
        min-height: 145px;
        padding: 10px;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        label {
            cursor: pointer;
        }
        .img-circle {
            border: 1px solid #777;
        }
        &:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background: #e8e8e8;
            border: 1px solid #dcdcdc;
            bottom: 10px;
            right: 10px;
            border-radius: 3px;
        }
        &.choose-spesialis_active {
            &:before {
                content: "";
                background: $colorPurple;
                position: absolute;
                width: 24px;
                height: 24px;
                bottom: 13px;
                right: 13px;
                border-radius: 3px;
                z-index: 1;
            }
            &:after {
                border: 1px solid  $colorPurple;
            }
        }
    }
    .choose-specialis_master {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        border: 1px solid $colorPurple;
        padding: 3px 3.5px 3.5px 3.5px;
        margin: 14px auto 0;
    }
    .choose-specialis_master-name {
        padding-top: 30px;
        font-size: 16px;
        @extend .textRLR;
        span {
            font-size: 24px;
            @extend .textRB;
            color: $colorPurple;
        }
    }
}
.your-request {
    .backward {
        margin-top: 10px;
    }
}
.your-request__form {
    .form-control {
        @extend .textRLR;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 58px;
        font-size: 16px;
        &::-ms-expand {
            display: none;
        }
        
       /*&.ng-invalid {
           background: #ff837c;
       }*/
    }
    .form-group {
        /*position: relative;
        .fa {
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 35px;
            color: $colorPurple;
        }*/
        select {
            background: url(../img/arrow-down.png) no-repeat 95% center, #fff;
            cursor: pointer;
        }
    }
    .your-request__button-ok {
        font-size: 24px;
        @extend .textRLR;
    }
}

#myModal, #sendModal {
   @media (min-width: 768px) {
        .modal-dialog {
            width: 400px;
            margin: 30px auto;
        }
   }
   input {
       &.ng-invalid {
           background: #ff837c;
       }
       /*&.ng-invalid {
           background: #ff837c;
       }*/
   }
}
#sendModal {
    padding-right: 0 !important;
    .modal-footer {
        text-align: center;
    }
}
.modal-body {
    background: #d9534f;
}
#sendModal {
    .modal-title {
        color: #fff;
    }
}
@media (screen and max-width: 1200px) {
    .your-request__form {
        margin: 0 auto;
    }
}
@media (screen and max-width: 992px) {
    .your-request__form {
        float: right;
    }
    /*.choose__align-right {
        margin-top: 10px;
    }*/
}
@media (screen and max-width: 768px) {
    .your-request__form {
        float: none;
    }
    .choose-specialist .choose-spesialist_wrap label {
        width: 75vw;    
    }
}