html, body, aside, section {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
aside, section {
    height: 100%;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 36px;
}

button {
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
}

/*-----------Aside----------*/
aside {
    background-color: #2B2F3E;
    float: left;
    width: 20%;
}
header {
    height: 70px;
    padding: 20px;
    color: #565A69;
}
nav ul {
    padding: 0;
    height: 5%;
}
nav ul li {
    padding: 7%;
    background-color: #FF305A;
    list-style-type: none;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

/*-----------Section----------*/
section {
    color: #f9f9f9;
    float: left;
    width: 80%;
    background-color: #f9f9f9;
    padding: 2%;
    overflow: auto;
}
section .items, section .comments  {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 3px 2px #b5b5b5;
    min-height: 525px;
    float: left;
}
section .items h1, section .comments h1 {
    color: #565A69;
    padding: 3% 0 3% 5%;
}

section .items form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 5px;
}
section .items form input {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    padding: 8px 8px;
    width: calc(100% - 160px);
    float: left;
    font-size: 16px;
    font-weight: 400;
}

section .items form button {
    color: #fff;
    background-color: #27ccc0;
    float: right;
    font-weight: 600;
    width: 130px;
} 
section .items .active td.name:before {
    background-color: #FF2F5A;
    position: absolute;
    content: '';
    height: 100%;
    width: 5px;
    top: 0;
    left: -19%;
}
section .items table tr {
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;
}
table {
    width: 90%;
    margin: 0 auto;
    color: #666666;
    border-collapse: collapse;
}
section .items table {
    margin-bottom: 5%;
}
section .comments table tr {
    border-top: 1px solid #F2F2F2;
}
table td {
    padding: 10px 0;
    position: relative;
}
table td span.text {
    color: #2B2F3E;
    font-weight: 600;
    font-size: 16px;    
}
table td span.digit {
    color: #fff;
    border-radius: 10px;
    background-color: #27ccc0;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: 700;
}
table .danger {
    color: #FF305A;
    border: 1px solid  #FF305A;
    background-color: #fff;
    float: right;
    font-weight: 300;
    width: 100px;
}

section .comments {
    float: right;
    width: 48%;
}
section .comments form {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 5px;
}
section .comments form textarea {
    width: 98%;
    resize: none;
    border: 1px solid #cccccc;
}
section .comments table tr:first-child, section .comments table tr:last-child {
    border-top: none;
}
section .comments .rect {
    width: 50px;
    height: 50px;    
}
section .comments .even {
    background-color: #47568c;
}
section .comments .odd {
    background-color: #ff8a00;
}
section .comments .text {
    background-color: #e6e6e6;
    vertical-align: top;
}
section .comments .disk {
    vertical-align: top;
    width: 50px;
}
section td.name, section td.disk {
    padding-right: 10px;
}
