<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="libs/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body ng-controller="mainCtrl">
    <aside>
        <header>
            <h1>Main</h1>
        </header>
        <nav>
            <ul>
                <li>Overview</li>
            </ul>
        </nav>
    </aside>
    <section class="items-sec">
        <div class="items">
            <h1>Items</h1>
            <form name="form" ng-submit="addItem()">
                <input type="text" name="item" placeholder="Type name here..." ng-model="newItem" required>
                <button>Add new</button>
            </form>
            <table>
                <tbody>
                    <tr ng-class="{active : item.id == id}" ng-repeat="item in items" ng-click="details(item)">
                        <td class="name"><span class="text">{{item.name}}</span>&nbsp;<span class="digit">{{item.quantity}}</span></td>
                        <td><button class="danger" ng-click="deleteItem(item); $event.stopPropagation()">Delete</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="comments">
            <h1>Comments #{{id}}</h1>
            <table>
                <tbody>
                    <tr ng-repeat="item in curItemComments">
                        <td class="disk">
                            <div class="rect" ng-class-odd="'odd'" ng-class-even="'even'">
                        </td>
                        <td class="comment">{{item.comment}}</td>
                    </tr>
                    <tr>
                        <td class="disk">
                            <div class="rect text"></div>
                        </td>
                        <td>
                            <form name="formComment">
                                <textarea ng-keypress="subm($event, id)" name="comment" rows="5" ng-model="newComment"></textarea>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            </div>
    </section>
</body>

</html>